p,
body,
ul,
h2,
h1,
hr {
    margin: 0;
}

body {
    width: 1020px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

header {
    position: sticky;
    z-index: 3;
    top: -1px;
}

.header-container {
    display: flex;
    width: 100%;
    height: 89px;
    background-color: #292c37;
}

header ul {
    display: flex;
    width: 370px;
    justify-content: space-between;
}

header li:first-child {
    color: white;
}

header li:nth-child(-n+4):after{
    content: '·';
    position:relative;
    left: 12px;
    top: 2px;
    color: #414658;
}

header li {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: white;
}

header li:hover {
    color: #dbcdcd;
    cursor: default;
}

h1 {
    margin: 29px 0 0 38px;
    font-size: 25px;
    font-family: 'Lato', black;
    color: white;
    font-weight: normal;
    letter-spacing: 0.02px;
}

header span {
    color: #f06c64;
}

header nav {
    margin: 41px 0 0 452px;
}

header::after {
    content: '';
    display: block;
    width: 100%;
    height: 6px;
    background-color: #2e3444;
}

.slider-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 1020px;
}

.slider-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 594px;
    background-color: #f06c64;
    transition-property: left;
    transition-duration: 3s;
}

.slide0 {
    position: absolute;
    display: flex;
    left: -1020px;
    width: 1020px;
    height: 594px;
    transition-property: left;
    transition-duration: 3s;
}

.slide1 {
    position: absolute;
    display: flex;
    left: -1020px;
    width: 1020px;
    height: 594px;
    background: #f06c64;
    transition-property: left;
    transition-duration: 3s;
}

.for-slide0-blue {
    background: #648BF0;
    background-image: url('phone.png');
    background-repeat: no-repeat;
    background-position: center;
}

.for-slide0-pink {
    background-color: #f06c64;
}

.vertical,
.horizontal {
    position: relative;
    display: flex;
}

.vertical-iphone-image {
    z-index: 2;
    width: 188px;
    height: 333px;
    margin-left: 123px;
    margin-top:115px;
    background-image: url('assets/Layer 6.png');
    background-position: -14px -135px;
    border-style: solid;
    border-width: 3px;
    border-color: #c7c7c7;
    border-radius: 5px;
}

.vertical-iphone {
    z-index: 1;
    position: absolute;
    width: 215px;
    height: 458px;
    margin-left: 112px;
    margin-top:53px;
    background-color: #f2f2f2;
    border-radius: 27px;
    box-shadow: 25px 25px #cf5d55;
}

.vertical-camera-iphone {
    z-index: 2;
    position: absolute;
    top: 70px;
    left: 216px;
    width: 3.5px;
    height: 3.5px;
    background-color: #f06c64;
    border-radius: 6px;
    border-style: solid;
    border-color: #dbcdcd;
    border-width: 2px;
}

.vertical-speaker-iphone {
    z-index: 2;
    position: absolute;
    top: 89px;
    left: 202px;
    width: 36px;
    height: 5px;
    background-color: #adaeae;
    border-radius: 3px;
}

.vertical-button-iphone {
    z-index: 2;
    position: absolute;
    top: 460px;
    left: 198px;
    width: 42px;
    height: 42px;
    background-color: #fafafa;
    border-radius: 21px;
}

.vertical-button-square-iphone {
    z-index: 2;
    position: absolute;
    top: 473px;
    left: 211px;
    width: 13px;
    height: 13px;
    background-color: #fafafa;
    border-radius: 5px;
    border-style: solid;
    border-color: #bdbdbd;
    border-width: 2px;
}

.horizontal-iphone-image {
    z-index: 2;
    width: 333px;
    height: 188px;
    margin-left: 165px;
    margin-top:185px;
    background-image: url('assets/Layer 5.png');
    background-position: -125px -119px;
    border-style: solid;
    border-width: 3px;
    border-color: #c7c7c7;
    border-radius: 5px;
}

.horizontal-iphone {
    z-index: 1;
    position: absolute;
    width: 458px;
    height: 215px;
    margin-left: 108px;
    margin-top:174px;
    background-color: #f2f2f2;
    border-radius: 27px;
    box-shadow: 25px 25px #cf5d55;
}

.horizontal-camera-iphone {
    z-index: 2;
    position: absolute;
    top: 277px;
    left: 542px;
    width: 3.5px;
    height: 3.5px;
    background-color: #f06c64;
    border-radius: 6px;
    border-style: solid;
    border-color: #dbcdcd;
    border-width: 2px;
}

.horizontal-speaker-iphone {
    z-index: 2;
    position: absolute;
    top: 265px;
    left: 525px;
    width: 5px;
    height: 36px;
    background-color: #adaeae;
    border-radius: 3px;
}

.horizontal-button-iphone {
    z-index: 2;
    position: absolute;
    top: 260px;
    left: 117px;
    width: 42px;
    height: 42px;
    background-color: #fafafa;
    border-radius: 21px;
}

.horizontal-button-square-iphone {
    z-index: 2;
    position: absolute;
    top: 273px;
    left: 129px;
    width: 13px;
    height: 13px;
    background-color: #fafafa;
    border-radius: 5px;
    border-style: solid;
    border-color: #bdbdbd;
    border-width: 2px;
}

.iphone-off {
    background-color: black;
    background-image: none;
}

.slider-horizontal-line {
    width: 100%;
    height: 6px;
    background-color: #eb676b;
    border-width: 0;
}

.arrow-left {
    z-index: 2;
    position: absolute;
    width: 16px;
    height: 27px;
    top: 281px;
    left: 42px;
    background-image: url('assets/arrow.png');
}

.arrow-right {
    z-index: 2;
    position: absolute;
    width: 16px;
    height: 27px;
    top: 281px;
    right: 40px;
    background-image: url('assets/arrow2.png');
}

.arrow-right:hover,
.arrow-left:hover {
    opacity: 40%;
}

.services-container {
    width: 100%;
    height: 494px;
    background-color: #f2f2f2;
}

.services-container {
    display: flex;
    flex-direction: column;
}

.services-container h2 {
    margin-top: 59px;
    margin-left: 40px;
    font-size: 30px;
    font-family: 'Lato', black;
    color: #666d8a;
    font-weight: bold;
}

.services-container-subhead {
    margin-left: 40px;
    margin-top: 18px;
    color: #969cb4;
    font-family: 'Lato', thin;
    font-size: 18px;
    line-height: 1.7;
}

.services-design-image,
.services-inovative-image,
.services-love-image,
.services-responsive-image,
.services-support-image,
.services-star-image {
    width: 55px;
    height: 55px;
    margin-top: 4px;
    border-radius: 29px;
    border-color: #6b738e;
    border-style: solid;
    border-width: 2px;
    background-repeat: no-repeat;
}

.services-design-image {
    margin-left: 41px;
    background-image: url('assets/pen.png');
    background-position: 11px 11px;
}

.services-inovative-image {
    margin-left: 20px;
    background-image: url('assets/bulb.png');
    background-position: 15px 10px;
}

.services-love-image {
    margin-left: 21px;
    background-image: url('assets/heart.png');
    background-position: 10px 12px;
}

.services-responsive-image {
    margin-left: 41px;
    background-image: url('assets/phone.png');
    background-position: 15px 10px;
}

.services-support-image {
    margin-left: 20px;
    background-image: url('assets/bubble.png');
    background-position: 11px 13px;
}

.services-star-image {
    margin-left: 21px;
    background-image: url('assets/star.png');
    background-position: 10px 11px;
}

.services-content {
    display: flex;
    flex-wrap: wrap;
}

.services-design,
.services-inovative,
.services-love {
    display: flex;
    margin-top: 43px;
}

.services-responsive,
.services-support,
.services-star {
    display: flex;
    margin-top: 29px;
}

.services-design-info,
.services-inovative-info,
.services-responsive-info,
.services-support-info {
    width: 220px;
    margin-left: 20px;
}

.services-love-info {
    width: 220px;
    margin-left: 22px;
}

.services-star-info {
    width: 220px;
    margin-left: 23px;
}

.services-design-info p:first-child,
.services-inovative-info p:first-child,
.services-love-info p:first-child,
.services-responsive-info p:first-child,
.services-support-info p:first-child,
.services-star-info p:first-child {
    font-family: 'Lato', black;
    font-size: 18px;
    color: #666d8a;
    font-weight: bold;
}

.services-design-info p:last-child,
.services-inovative-info p:last-child,
.services-love-info p:last-child,
.services-responsive-info p:last-child,
.services-support-info p:last-child,
.services-star-info p:last-child{
    margin-top: 9px;
    color: #7c84a3;
    font-size: 12px;
    font-family: 'Lato', thin;
    line-height: 1.8;
}

.services-love-info p:last-child,
.services-responsive-info p:last-child,
.services-support-info p:last-child {
    text-align: left;
}

.services-star-info p:last-child   {
    text-align: justify;
    text-justify: inter-word;
    word-spacing: 1px;
}

.services-design-info p:last-child {
    text-align: justify;
    text-justify: inter-word;
}

.services-star-info p:last-child {
    margin-left: -2px;
}

.services-inovative-info p:last-child {
    word-wrap: break-word;
    text-align: justify;
}

.services-horizontal-line {
    width: 100%;
    height: 6px;
    background-color: #fafafa;
    border-width: 0;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 869px;
    background-color: #292d37;
    color: #666d8a;
}

.portfolio-heading {
    margin-left: 41px;
    margin-top: 60px;
    font-size: 30px;
    font-family: 'Lato', black;
    letter-spacing: 0.01px;
    color: #666d89;
}

.navigation-container {
    margin-left: 30px;
}

.portfolio-container p {
    margin-left: 41px;
}

.navigation-content {
    display: flex;
    margin-top: 16px;
    font-family: 'Lato', thin;
    font-size: 12px;
}

.portfolio-container p {
    margin-top: 21px;
    font-size: 18px;
    font-family: 'Lato', thin;
    text-align: justify;
}

.portfolio-container li:hover {
    color: white;
    border-color: white;
    cursor: pointer;
}

.portfolio-container li {
    display: flex;
    height: 20px;
    border-width: thin;
    border-style: solid;
    border-radius: 5px;
    border-color: #666d8a;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.portfolio-container li:first-child {
    width: 28px;
    margin-left: 11px;
}

.portfolio-container li:nth-child(2) {
    width: 76px;
    margin-left: 10px;
}

.portfolio-container li:nth-child(3) {
    width: 90px;
    margin-left: 10px;
}

.portfolio-container li:last-child {
    width: 56px;
    margin-left: 9px;
}

.grid {
    display: grid;
    height: 603px;
    margin-left: 41px;
    margin-top: 18px;
    grid-template-rows: 187px 188px 188px;
    grid-template-columns: 219px 219px 220px 220px;
    grid-gap: 20px;
    overflow: hidden;
}

.grid div {
    position: relative;
    overflow: hidden;
}

.grid div:first-child img {
    position: absolute;
    left: -9px;
    top: -10px;
}

.grid div:nth-child(2) img {
    position: absolute;
    left: -82px;
    top: -42px;
}

.grid div:nth-child(3) img {
    position: absolute;
    right: -20px;
}

.grid div:nth-child(4) img {
    position: absolute;
    right: -19px;
    top: -1px;
}

.grid div:nth-child(5) img {
    position: absolute;
    right: -12px;
    top: -15px;
}

.grid div:nth-child(6) img {
    position: absolute;
    left: -16px;
    top: -3px;
}

.grid div:nth-child(7) img {
    position: absolute;
    left: -30px;
    bottom: -146px;
}

.grid div:nth-child(8) img {
    position: absolute;
    left: -24px;
    top: -32px;
}

.grid div:nth-child(9) img {
    position: absolute;
    left: -17px;
    top: -2px;
}

.grid div:nth-child(10) img {
    position: absolute;
    left: -141px;
    top: -113px;
}

.grid div:nth-child(11) img {
    position: absolute;
    left: -143px;
    top: -175px;
}

.grid div:nth-child(12) img {
    position: absolute;
    left: -35px;
    top: -60px;
}

.grid-border {
    border-style: solid;
    border-width: 5px;
    border-color: #F06C64;
}

.portfolio-line {
    width: 100%;
    height: 6px;
    margin-top: 66px;
    background-color: #2e3444;
    border-width: 0;
}

.about-container {
    display: flex;
    height: 735px;
    flex-direction: column;
    background-color: #f2f2f2;
    color: #666d8a;
}

.about-container p:first-child {
    margin-top: 60px;
    margin-left: 41px;
    font-size: 30px;
    font-family: 'Lato', black;
    font-weight: bold;
}

.about-content-text {
    width: 940px;
    margin-top: 17px;
    margin-left: 41px;
    font-size: 17px;
    font-family: 'Lato', thin;
    line-height: 1.8;
}

.about-info {
    display: flex;
    margin-left: 41px;
    margin-top: 45px;
}

.about-info-first,
.about-info-second,
.about-info-third {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.about-info-second{
    margin-left: 19px;
}

.about-info-third {
    margin-left: 20px;
}

.about-info-first img,
.about-info-second img,
.about-info-third img {
    width: 300px;
    height: 300px;
    background-color: black;
    background-size: cover;
}

.head {
    margin-top: 15px;
    font-size: 113%;
    font-weight: bold;
    font-family: 'Lato', black;
    letter-spacing: -0.1px;
    white-space: nowrap;
    overflow: hidden;
}

.about-info-text {
    width: 300px;
    margin-top: 9px;
    font-size: 12px;
    font-family: 'Lato', thin;
    line-height: 1.8;
    word-wrap: break-word;
    letter-spacing: -0.1px;
}

.about-info-social {
    display: flex;
    margin-top: 23px;
}

.about-info-social i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: #666d8a;
}

.fab {
    font-size: 15px;
}

.fab:nth-child(2) {
    margin-left: 9px;
}

.fab:nth-child(3) {
    margin-left: 8px;
}

.fab:nth-child(4) {
    margin-left: 8px;
}

.about-line {
    width: 100%;
    height: 6px;
    background-color: white;
    margin-top: 69px;
    border-width: 0;
}

.fab:hover {
    cursor: pointer;
    border-color: white;
}

fieldset,
input {
    border: 0;
    padding: 0;
}

.request-container {
    display: flex;
    height: 654px;
    flex-direction: column;
    background-color: #f06c64;
}

.request-content-heading {
    margin-top: 60px;
    margin-left: 40px;
    color: #f0d3d4;
    font-weight: bold;
    font-size: 29px;
    font-family: 'Lato', black;
}

.request-content-subhead {
    margin-top: 20px;
    margin-left: 40px;
    color: #f0d3d4;
    font-weight: lighter;
    font-size: 18px;
    font-family: 'Lato', thin;
    line-height: 1.6;
}

.form-container {
    display: flex;
}

.form-info {
    display: flex;
    width: 619px;
    height: 363px;
    margin-top: 46px;
    margin-left: 40px;
    flex-direction: column;
}

.form-info input::placeholder {
    color: #f28a8c;
    font-family: 'Lato', thin;
    font-size: 12px;
    text-indent: 14px;
}

.form-info input:nth-child(-n+4) {
    height: 38px;
    margin-top: 16px;
    border-radius: 5px;
}

.form-info input:nth-child(1) {
    margin-top: 0;
}

.form-info input:last-child {
    height: 201px;
}

.form-info input:last-child::placeholder {
    line-height: 201;
    vertical-align: text-top;
}

.form-info input {
    width: 100%;
    background-color: #d7554e;
}

.contact-container {
    width: 309px;
    margin-top: 45px;
    margin-left: 18px;
    color: #f0d3d4;
}

.contact-content-heading {
    font-size: 18px;
    font-family: 'Lato', black;
    font-weight: bold;
}

.contact-content-info {
    margin-top: 8px;
    font-size: 12px;
    font-family: 'Lato', thin;
    line-height: 1.8;
}

.contact-info {
    margin-top: 27px;
    margin-left: 5px;
    font-size: 12px;
}

.contact-info i {
    font-size: 11px;
}

.contact-info span{
    margin-left: 10px;
}

.contact-info a {
    margin-left: 8px;
}

.contact-info li:nth-child(2),
.contact-info li:last-child {
    margin-top: 5px;
}

.contact-info a {
    color: #f0d3d4;
    font-family: 'Lato', thin;
}

.btn {
    width: 50px;
    height: 30px;
    margin-top: 5px;
    margin-left: 40px;
    background-color: #d7554e;
    color: #f0d3d4;
    font-size: 13px;
    border-radius: 5px;
}

.request-container-line {
    width: 100%;
    height: 6px;
    margin-top: 33px;
    background-color: #eb676b;
    border: 0;
}

.dispatch-window-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 100px;
    left: 100px;
    width: 300px;
    height: 310px;
    background-color: white;
    visibility: hidden;
    border-radius: 10px;
    border-color: #292c37;
    border-style: solid;
    border-width: 5px;
    font-size: 20px;
}

.subject,
.description {
    width: 90%;
    height: 100px;
    overflow-y: scroll;
    margin-top: 20px;
}

.submit-button {
    width: 100px;
    height: 50px;
    margin-left: 100px;
    margin-top: 50px;
    background-color: #292c37;
    text-align: center;
    color: white;
}

footer {
    display: flex;
    height: 76px;
    align-items: center;
    background-color: #292c37;
}

footer p {
    margin-left: 40px;
    color: #666d8a;
    font-family: 'Lato', thin;
    font-size: 12px;
}

.footer-social-links {
    display: flex;
    margin-left: 693px;
}

.footer-social-links i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: #666d8a;
    border-radius: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: #666d8a;
}

.footer-social-links li:nth-child(2) {
    margin-left: 9px;
}

.footer-social-links li:nth-child(3) {
    margin-left: 8px;
}

.footer-social-links li:last-child {
    margin-left: 8px;
}

.footer-social-links i:hover {
    cursor: pointer;
    border-color: #d7554e;
}
