p,
body,
ul,
h2,
h1,
hr {
    margin: 0;
}

body {
    width: 1020px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.header-container {
    display: flex;
    width: 100%;
    height: 89px;
    background-color: #292c37;
}

header ul {
    display: flex;
    width: 370px;
    justify-content: space-between;
}

header li:first-child {
    color: #f06c64;
}

header li:nth-child(-n+4):after{
    content: '·';
    position:relative;
    left: 12px;
    top: 2px;
    color: #414658;
}

header li {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: white;
}

h1 {
    margin: 29px 0 0 38px;
    font-size: 25px;
    font-family: 'Lato', black;
    color: white;
    font-weight: normal;
    letter-spacing: 0.02px;
}

header span {
    color: #f06c64;
}

header nav {
    margin: 41px 0 0 452px;
}

header::after {
    content: '';
    display: block;
    width: 100%;
    height: 6px;
    background-color: #2e3444;
}

.slider-container {
    position: relative;
    display: flex;
    width:100%;
    height: 594px;
    background-color: #f06c64;
}

.vertical,
.horizontal {
    position: relative;
    display: flex;
}

.vertical-iphone-image {
    z-index: 2;
    width: 188px;
    height: 333px;
    margin-left: 123px;
    margin-top:115px;
    background-image: url('Layer 6.png');
    background-position: -14px -135px;
    border-style: solid;
    border-width: 3px;
    border-color: #c7c7c7;
    border-radius: 5px;
}

.vertical-iphone {
    z-index: 1;
    position: absolute;
    width: 215px;
    height: 458px;
    margin-left: 112px;
    margin-top:53px;
    background-color: #f2f2f2;
    border-radius: 27px;
    box-shadow: 25px 25px #cf5d55;
}

.vertical-camera-iphone {
    z-index: 2;
    position: absolute;
    top: 70px;
    left: 216px;
    width: 3.5px;
    height: 3.5px;
    background-color: #f06c64;
    border-radius: 6px;
    border-style: solid;
    border-color: #dbcdcd;
    border-width: 2px;
}

.vertical-speaker-iphone {
    z-index: 2;
    position: absolute;
    top: 89px;
    left: 202px;
    width: 36px;
    height: 5px;
    background-color: #adaeae;
    border-radius: 3px;
}

.vertical-button-iphone {
    z-index: 2;
    position: absolute;
    top: 460px;
    left: 198px;
    width: 42px;
    height: 42px;
    background-color: #fafafa;
    border-radius: 21px;
}

.vertical-button-square-iphone {
    z-index: 2;
    position: absolute;
    top: 473px;
    left: 211px;
    width: 13px;
    height: 13px;
    background-color: #fafafa;
    border-radius: 5px;
    border-style: solid;
    border-color: #bdbdbd;
    border-width: 2px;
}

.horizontal-iphone-image {
    z-index: 2;
    width: 333px;
    height: 188px;
    margin-left: 165px;
    margin-top:185px;
    background-image: url('Layer 5.png');
    background-position: -125px -119px;
    border-style: solid;
    border-width: 3px;
    border-color: #c7c7c7;
    border-radius: 5px;
}

.horizontal-iphone {
    z-index: 1;
    position: absolute;
    width: 458px;
    height: 215px;
    margin-left: 108px;
    margin-top:174px;
    background-color: #f2f2f2;
    border-radius: 27px;
    box-shadow: 25px 25px #cf5d55;
}

.horizontal-camera-iphone {
    z-index: 2;
    position: absolute;
    top: 277px;
    left: 542px;
    width: 3.5px;
    height: 3.5px;
    background-color: #f06c64;
    border-radius: 6px;
    border-style: solid;
    border-color: #dbcdcd;
    border-width: 2px;
}

.horizontal-speaker-iphone {
    z-index: 2;
    position: absolute;
    top: 265px;
    left: 525px;
    width: 5px;
    height: 36px;
    background-color: #adaeae;
    border-radius: 3px;
}

.horizontal-button-iphone {
    z-index: 2;
    position: absolute;
    top: 260px;
    left: 117px;
    width: 42px;
    height: 42px;
    background-color: #fafafa;
    border-radius: 21px;
}

.horizontal-button-square-iphone {
    z-index: 2;
    position: absolute;
    top: 273px;
    left: 129px;
    width: 13px;
    height: 13px;
    background-color: #fafafa;
    border-radius: 5px;
    border-style: solid;
    border-color: #bdbdbd;
    border-width: 2px;
}

.slider-horizontal-line {
    width: 100%;
    height: 6px;
    background-color: #eb676b;
    border-width: 0;
}

.arrow-left {
    position: absolute;
    width: 16px;
    height: 27px;
    top: 281px;
    left: 42px;
    background-image: url('arrow.png');
}

.arrow-right {
    position: absolute;
    width: 16px;
    height: 27px;
    top: 281px;
    right: 40px;
    background-image: url('arrow2.png');
}

.services-container {
    width: 100%;
    height: 494px;
    background-color: #f2f2f2;
}

.services-container {
    display: flex;
    flex-direction: column;
}

.services-container h2 {
    margin-top: 59px;
    margin-left: 40px;
    font-size: 30px;
    font-family: 'Lato', black;
    color: #666d8a;
    font-weight: bold;
}

.services-container-subhead {
    margin-left: 40px;
    margin-top: 18px;
    color: #969cb4;
    font-family: 'Lato', thin;
    font-size: 18px;
    line-height: 1.7;
}

.services-design-image,
.services-inovative-image,
.services-love-image,
.services-responsive-image,
.services-support-image,
.services-star-image {
    width: 55px;
    height: 55px;
    margin-top: 4px;
    border-radius: 29px;
    border-color: #6b738e;
    border-style: solid;
    border-width: 2px;
    background-repeat: no-repeat;
}

.services-design-image {
    margin-left: 41px;
    background-image: url('pen.png');
    background-position: 11px 11px;
}

.services-inovative-image {
    margin-left: 20px;
    background-image: url('bulb.png');
    background-position: 15px 10px;
}

.services-love-image {
    margin-left: 21px;
    background-image: url('heart.png');
    background-position: 10px 12px;
}

.services-responsive-image {
    margin-left: 41px;
    background-image: url('phone.png');
    background-position: 15px 10px;
}

.services-support-image {
    margin-left: 20px;
    background-image: url('bubble.png');
    background-position: 11px 13px;
}

.services-star-image {
    margin-left: 21px;
    background-image: url('star.png');
    background-position: 10px 11px;
}

.services-content {
    display: flex;
    flex-wrap: wrap;
}

.services-design,
.services-inovative,
.services-love {
    display: flex;
    margin-top: 43px;
}

.services-responsive,
.services-support,
.services-star {
    display: flex;
    margin-top: 29px;
}

.services-design-info,
.services-inovative-info,
.services-responsive-info,
.services-support-info {
    width: 220px;
    margin-left: 20px;
}

.services-love-info {
    width: 220px;
    margin-left: 22px;
}

.services-star-info {
    width: 220px;
    margin-left: 23px;
}

.services-design-info p:first-child,
.services-inovative-info p:first-child,
.services-love-info p:first-child,
.services-responsive-info p:first-child,
.services-support-info p:first-child,
.services-star-info p:first-child {
    font-family: 'Lato', black;
    font-size: 18px;
    color: #666d8a;
    font-weight: bold;
}

.services-design-info p:last-child,
.services-inovative-info p:last-child,
.services-love-info p:last-child,
.services-responsive-info p:last-child,
.services-support-info p:last-child,
.services-star-info p:last-child{
    margin-top: 9px;
    color: #7c84a3;
    font-size: 12px;
    font-family: 'Lato', thin;
    line-height: 1.8;
}

.services-love-info p:last-child,
.services-responsive-info p:last-child,
.services-support-info p:last-child {
    text-align: left;
}

.services-star-info p:last-child   {
    text-align: justify;
    text-justify: inter-word;
    word-spacing: 1px;
}

.services-design-info p:last-child {
    text-align: justify;
    text-justify: inter-word;
}

.services-star-info p:last-child {
    margin-left: -2px;
}

.services-inovative-info p:last-child {
    word-wrap: break-word;
    text-align: justify;
}

.services-horizontal-line {
    width: 100%;
    height: 6px;
    background-color: #fafafa;
    border-width: 0;
}
